* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
h1 {
    color: #E53170;
    text-align: center;
    margin-top: 30px;
}

main {
    width: 60%;
    margin: auto;
    min-width: 1200px;

}

.bloccoTestoCentrato {
    text-align: center;
    margin-top: 50px;
}

.colonne {
    background-color:#0F0E17;
    margin-top: 30px;
    height: 100px;
    width: calc((100% - 120px) /3);
    float: left;
    margin-left: 30px;
}

.left {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

img {
    width: 100%;
}
p{
    margin-top: 10px;
    color: white;
}
h3{
    margin-top: 10px;
    color: white;
}
.email{
    color:#6ECBF2
}
